@font-face {
    font-family: "pappins";
    src: url(/fonts/Poppins-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(206 79% 38% / 1);
}
.navbar h1{
    margin-top: 30px;
    position: relative;
    left: 44px;
    font-size: xx-large;
}
.navbar h1 a{
    color: aliceblue;
    text-decoration: none;
}
.navbar{
    height: 100px;
    color: antiquewhite;
    display: flex;
    text-align: center;
}
.intro  ul {
    list-style: none;
    display: flex;
    text-align: center;
    position: relative;
    left: 660px;
    margin-top: 40px;
}
.intro a{
    color: azure;
    text-decoration: none;
    padding: 10px;
}
.home img{
    width: 250px;
    height: auto;
    position: relative;
    left: 127px;
    top: 70px;
    border: hidden;
    border-radius: 60%;
    aspect-ratio: 1;
    object-fit:fill;
}
.home p{
    color: aliceblue;
    font-size: xxx-large;
    margin: -160px 0px 0px 0px;
    padding: 0px 0px 0px 420px;
}
.nextpage h3{
    margin-left: -150px;
}

.nextpage{
    color: aliceblue;
    font-size: x-large;
    margin: 150px 0px 0px 650px;
}
.icons{
    margin: 0px;
    padding: 0px;
}
footer{
    background-color:black;
    height: 200px;
}
.ending1 a{
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
    font-size:xx-large;
    position: relative;
    top: 25px;
}
.ending2 ul a{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    position: relative;
    top: 40px;
}
.ending1{
    display: flexbox;
    text-align: center;
}
.ending2{
    display: flexbox;
    text-align: center;
}
.ending2 p{
    color:aliceblue;
    position: relative;
    top:30px;
    text-align: start;
}
.ending1 h3{
    color: aliceblue;
}
